body {
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	background: #f4f4f9;
}

.notifier {
	margin: 50px auto;
	padding: 20px;
	max-width: 1400px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin-bottom: 1rem;
}

#messages-title {
	margin-bottom: 1rem;
}

#messages {
	/* margin: 20px 20px; */
	max-width: 1280px;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #ddd;
	height: 300px;
	max-height: 300px;
	overflow-y: scroll;
	background: #fafafa;
}

button {
	padding: 10px 20px;
	background: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background: #0056b3;
}

#alert-button {
	background-color: grey;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: not-allowed;
	transition: background-color 0.3s ease;
}

#alert-button.active {
	background-color: blue;
	cursor: pointer;
}

#cards-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
}

.card {
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	background-color: #f9f9f9;
	flex: 1 1 calc(33.333% - 10px);
	max-width: calc(33.333% - 10px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
	margin: 0 0 10px;
	font-size: 18px;
}

.card ul {
	padding: 0;
	list-style: none;
}

.badge {
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	background-color: red; /* Default to Disconnected */
	z-index: 1000;
}

.badge.connected {
	background-color: green;
}

.badge.disconnected {
	background-color: red;
}
