#hero-button {
  transition: all 250ms ease-in-out !important;
}

#hero-button:hover {
  background-color: #293c6b !important;
  transform: scale(1.05);
}

.nav-link.active {
  font-weight: 500;
}

#portfolio-card {
  width: 150px;
  height: 500px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: width 0.5s, box-shadow 0.5s;
  border-radius: 12px;
}

#portfolio-card-text {
  opacity: 0;
  bottom: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

#portfolio-card:hover #portfolio-card-text {
  opacity: 1;
  bottom: 25px;
}

.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}
.carousel-indicators {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
